.Kayaking-info {
    background-color: $color-off-white; 
    padding: 5% 0; // Padding for top and bottom
    line-height: 1.8;
}

/* Centering Learn More button container in Kayaking info section */
.center-button {
    /* include Button Styles */
    .btn-orange-large 
    {
    @include button-style(10px 20px, 800);
    }
    @include flex-center; // Use the flex-center mixin for centering
    height: 90px;             
    margin: 30px auto 0; // Top margin and auto horizontal centering
}

/* Heading styles for mission, vision, and history section */
.Kayaking-info-section-heading {
    display: block;
    text-align: center;
    margin: 60px auto 40px; // Top and bottom margins
    font-size: x-large;
}

.Kayaking-info-section {
    @include grid-layout((1fr 1fr), null, 40px); 
    flex-wrap: wrap; // Wrap the articles
    justify-content: center; // Center the articles
    max-width: 1000px;
    margin: 0 auto; /* Center the section on the page */
    text-align: left; /* Left-align text for better readability */
}

/* Styles for individual info articles (Mission, Vision, History) */
.Kayaking-info-section article {
    display: flex;
    align-items: stretch; /* Align the circle and text */
    padding: 10px;
    flex-wrap: wrap;
    margin: 0 2.5%; // Adjust margin for even spacing

    .article-text{
        max-width: 90%;
    }
}

// style the kakyking each of heading section of article i.e, Mission, Vission, History & Our Team
.Kayaking-info-section h3 {
    // display: inline-block;
    display: inline-block;
    font-size: large;
    font-weight: $h3-font-weight;
    margin-bottom: 10px;
    color: $color-h3;
}

.Kayaking-info-section p {
    font-size: small;
    font-weight: 100;
    margin-left: 44px;
    color: $color-text-light;
}
.article-text {
    max-width: 90%;
}

/* Circle element used for decorative purposes */
.circle {
    @include circle-orange(35, 50%);
    display: inline-block;      
    margin-right: 10px;
}
