/* Each review card in the review section */
.review-cards{
    display: grid;
    grid-template-columns: repeat(3, 0.25fr);
    // display: flex;             
    // flex-direction: row;        /* Arrange cards in a column */
    align-items: center;        /* Center align the cards */
    justify-items: center;
    margin-left: 18%;  
    gap: 0px;
}
/* Styles for the review section */
.review_section {

h2{
    display: block;
    text-align: center;
    padding-top: 0%; 
    padding-bottom: 3%; 
    font-size: x-larger;
    color: $color-white;
}
}
/* style the each review card */
.review{
    background-color: $color-white;
    padding: 25px;       
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    max-width: 280px;         
    text-align: left;
    height: 280px;
    
    p{
        line-height: 1.6;
        margin: 10px 0 20px 0;
        color: #bfb8b8;
    }
    time{
        font-size: 13px;
        color: $color-black;
        font-weight: 550;
        padding-bottom: 6px;
    }
   

    /* add a orange line in review card */
    .orange-line{
        width: 100%;
        height: 2px;
        background-color: $color-orange;
        margin-bottom: 6%;
    }
}
.black p{
    color: #000000a1;
}