.tour-section {
    background-color: $color-black;
    text-align: center;

    //the tour-article
    .tour-article {
        display: block;
        margin-top: 15%;
        height:35px;
        text-align: center;
        color: $color-white;
        font-size: xx-large;

        h2 {
            margin-bottom: 5px; /* `auto` doesn't have an effect for margin-bottom */
            font-weight: 100;
            color: $color-white;
        }

        .cite {
            text-align: center;
            font-size: small;
            color:$color-off-white; 
            max-width: 30%;
            margin: 0 auto; /* Center the cite element */
            font-weight: 15;
            line-height: 2.1;

            a {
                color:$color-off-white;
                text-decoration: underline;
            }
        }
    }
    //display tour container using grid
    .tour-cards-white-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        max-width: 1000px;
        position: relative;
        top:4px;
    }

    //style each tour-card
    .tour-card-white {
        background-color: $color-white;
        @include give-padding(25px);
        @include box-shadow();
        max-width: 300px;
        text-align: center;
        margin: auto;
        color: $color-gray;
        position: relative;
        z-index: 2;
        top:130px;

        h3 {
            color: #1f1f1fd2;
            font-size: medium;
            font-weight: 700;
            margin: 7px 0px 15px 0px;
        }
    }
}