$font-main: 'Arial', sans-serif;
$color-text: #333;
$color-white: #ffffff;
$color-off-white: #efe8e8f6;
$color-black:  #312d27;
$color-orange: #f47d1c; 
$color-gray: #6b6b6ba6;
$z-index-below: -1;
$z-index-above: 1;

//button styling
$btn-box-shadow: #00000064;
$btn-font-size: x-small;
$btn-letter-spacing: 1.5px;
$btn-font-weight: 450;

//cite-color
$cite-color: rgb(111, 106, 106);