$font-main: 'Arial', sans-serif;
$color-text: #333;
$color-white: #ffffff;
$color-off-white: #f1f1f1;
$color-black:  #312d27;
$color-orange: #f47d1c; 
$color-gray: #6b6b6ba6;
$color-light-gray: #9c9c9c;
$color-text-light: #bab8b8;
$color-h3: #434343;
$color-white-placeholder: rgb(172, 171, 171);
$nav-background-color: #f8f8f8;

$icon-size: 28px;
$text-color: #333;

$h3-font-weight:200;


$z-index-below: -1;
$z-index-above: 1;

//button styling
$btn-box-shadow: #00000064;
$btn-font-size: x-small;
$btn-letter-spacing: 1.5px;
$btn-font-weight: 450;

//cite-color
$cite-color: rgb(111, 106, 106);